<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <script src="https://pixijs.download/release/pixi.js"></script>
    <title>Svelte + Pixi + Express + WebSockets + MongoDB</title>
    <script type="module" crossorigin src="/assets/index-0c88adda.js"></script>
    <link rel="stylesheet" href="/assets/index-2bb9bdb8.css">
  </head>
  <body>
    <div id="app"></div>
    
  </body>
</html>